.debug-top,
.debug-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.debug-item {
  padding: 6px 0;
  border-bottom: 1px solid #eee;
}

.debug-item:last-child {
  border-bottom: none;
}

.debug-name {
  font-weight: bold;
}

.debug-list {
  margin-left: 16px;
  border-left: 2px solid #eee;
  padding-left: 12px;
}
