@use 'vars';

.feedback-list {
  list-style-type: none;
  padding-left: 0 !important;
  margin-bottom: 0;
  .feedback-item {
    margin-bottom: 0.5rem;
  }
  .feedback-item:last-child {
    margin-bottom: 0;
  }
}

.b-card.feedback-info {
  background-color: vars.$midgray;
}

.b-card.feedback-success {
  background-color: vars.$lightaccent;
}

.b-card.feedback-warning {
  background-color: vars.$lightwarning;
}

.b-card.feedback-error {
  background-color: vars.$lightwarning;
}

.feedback-item.feedback-info::before {
  content: 'ℹ️';
  margin-right: 0.5em;
  font-size: 1em;
}

.feedback-item.feedback-success::before {
  content: '✅';
  margin-right: 0.5em;
  font-size: 1em;
}

.feedback-item.feedback-warning::before {
  content: '⚠️';
  margin-right: 0.5em;
  font-size: 1em;
}

.feedback-item.feedback-error::before {
  content: '❌';
  margin-right: 0.5em;
  font-size: 1em;
}

.feedback-container {
  position: relative;
  padding-right: 4em !important;
  .closer {
    position: absolute;
    top: 1em;
    right: 1em;
    cursor: pointer;
  }
}
