.drop-target {
  outline: 1px dashed black;
  opacity: 0.1;
}

.filepond--credits {
  // I gave the FilePond developer 15 dollars so I would feel OK about this.
  // buymeacoffee.com/rikschennink/c/16242415
  display: none;
}

.file-container {
  max-width: 800px;
  margin: auto;
}
.user-image-link {
  max-width: 100%;
}

.user-image,
.user-video,
.user-audio,
.user-pdf {
  max-width: 100%;
}

.user-pdf {
  height: 600px;
}

.user-metadata {
  font-weight: normal;
}

.file-container {
  margin: auto;
}
