.journal-list-item:has(> ul) {
  list-style: none;
  padding-left: 0;
}
.journal-bold {
  font-weight: bold;
}
.journal-italic {
  font-style: italic;
}
.journal-strikethrough {
  text-decoration-line: line-through;
}
.journal-underline {
  text-decoration-line: underline;
}
.journal-paragraph {
  margin: 0 0 0 0.3em;
}
.journal-paragraph:empty {
  display: none;
}
.journal-plain::before {
  content: ' ';
}
article {
  p:empty {
    display: none;
  }
}
