.journal-list-item:has(> ul) {
  list-style: none;
  padding-left: 0;
}
.journal-bold {
  font-weight: bold;
}
.journal-italic {
  font-style: italic;
}
.journal-strikethrough {
  text-decoration-line: line-through;
}
.journal-underline {
  text-decoration-line: underline;
}
