@use 'vars';

@use '../node_modules/bootstrap/scss/bootstrap' with (
  $enable-shadows: true,
  $enable-rounded: false,
  $primary: vars.$primary,
  $warning: vars.$warning
);

@use 'b-card';
@use 'calendar';
@use 'dark-on-hover';
@use 'dashboard';
@use 'debug';
@use 'editable';
@use 'feedback';
@use 'files';
@use 'footer';
@use 'former-patients';
@use 'forms';
@use 'gdrive';
@use 'google-login';
@use 'h';
@use 'home';
@use 'homeadmin';
@use 'journal-link-icon';
@use 'journal';
@use 'layout';
@use 'legend';
@use 'links';
@use 'mascot';
@use 'micro';
@use 'mobile';
@use 'nav';
@use 'patient';
@use 'pre';
@use 'reorder';
@use 'search';
@use 'spinner';
@use 'tables';
@use 'texteditor';
